.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 16px;
  margin-bottom: 42px;
  padding: 5px 25px;
}
.header{
    width: 100%;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.profile img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}